{% extends 'base.html.twig' %}

{% block title %}Hello SupportController!{% endblock %}

{% block body %}
    <h1>Support</h1>

    <div class="box p-4 mt-3">
        {{ form(form) }}
    </div>
{% endblock %}
