{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <h1>Game</h1>

    <div class="box p-4 mt-3">
        {{ form(form) }}
    </div>
{% endblock %}
