{% extends 'base.html.twig' %}

{% block title %}Hello FavoriteController!{% endblock %}

{% block body %}
    {% for favorite in favorites %}
        {{ favorite.title }}
        {{ favorite.description }}
        <a href="{{ path('favorite_remove', {'id': favorite.id}) }}">Remove favorite</a>
    {% endfor %}
{% endblock %}
